body {
    background-color: cadetblue;
    font-size: 1em;
}

section {
    padding: 2.5% 5%;

    color: black;

    border-bottom-style: solid;
    border-bottom-color: darkorchid;
    border-bottom-width: 3px;

    font-size: 1.5em;
    background-color: darksalmon;
}

#main-block {
    margin: 5% 10%;

    border: 2px solid yellowgreen;
}

.background {
    color: coral;
}

