body {
    background-color: crimson;
    font-size: 1em;
}

section {
    padding: 2.5% 5%;

    color: black;

    border-bottom-style: solid;
    border-bottom-color: darkorchid;
    border-bottom-width: 3px;

    font-size: 1.5em;
    background-color: blanchedalmond;
}

.container {
    display: flex;
    justify-content: center;
}

.container > img {
    margin: 0vw 2vw;
}

.heading {
    text-align: center;
}

figcaption {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 20vh;
}

#main-block {
    margin: 5% 10%;

    border: 2px solid yellowgreen;
}

#personal-project {
    border-bottom-width: 0px;
}

#demo {
    
}

.background {
    color: black;
}

