body {
    background-color: blanchedalmond;
    font-size: 1.5em;
}

section {
    padding: 2.5% 5%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;

    color: black;

    border: 2px
     solid goldenrod;

    font-size: 1.5em;
    background-color: blueviolet;
}

#about-me {
    margin-top: 5%;
}

.background {
    color: coral;
}

